* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 90%;
    margin: auto;
    background-color: white;
}

header {
    width: 100%;
    min-height: 80px;
    height: 15vh;
    display: flex;
    align-items: center;
}

#logo, #title, #more {
    display: flex;
    height: 40px;
}

#logo {
    flex: 1;
}

#logo img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

#logo h4 {
    font-size: 18px;
    font-weight: 100;
    align-self: center;
    letter-spacing: 1px;
    margin-left: 10px;
}

#title {
    flex: 2;
}

#title h4 {
    margin: 0 auto;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
    align-self: center;
    letter-spacing: 3px;
    border: 1px black solid;
    border-radius: 3px;
}

#more {
    flex: 1;
    justify-content: flex-end;
}

#more div {
    border: black 1px solid;
    margin-right: 10px;
    padding: 5px;
    font-size: 20px;
    height: 40px;
    width: 80px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
}

#more div:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

#calculator {
    width: 100%;
    margin: 40px 10px;
}

#select {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

select, input {
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
    border:rgb(24, 24, 24) 1px solid;
    border-radius: 5px;
}

input {
    transition: 0.5s ease-in-out;
}

input:focus {
    width: 90%;
    border: green 2px solid;
    transition: 0.5s ease-in-out;
}

#btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 15px;
    background-color: white;
    border-radius: 5px; 
}

button:hover {
    color: white;
    transition: 0.5s;
}

#convert {
    border: green 1px solid;
}

#convert:hover {
    background-color: green;
}

#reset {
    border: red 1px solid;
}

#reset:hover {
    background-color: red;
}

#answers {
    width: 65vw;
    box-sizing: border-box;
    min-height: 75px;
    height: auto;
    margin: 20px auto;
    line-height: 30px;
    padding: 5px;
    box-sizing: border-box;
    border: rgb(24, 24, 24) 1px solid;
    background-color: white;
    border-radius: 5px; 
}

a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}

@media only screen and (max-width: 800px) {
    #content {
        width: 90%;
    }

    header {
        display: block;
        height: 200px;
    }

    #logo {
        width: 100%;
        justify-content: center;
        margin: 20px auto;
    }

    #title {
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }

    #more {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    #more div {
        margin: 0 auto;
        float: none;
    }
}