body {
  font-family: arial, sans-serif;
  margin: 30px
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #808080;
  text-align: left;
  padding:8px;
}

h1 {
    color: teal;
}