/*Body*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body, button {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(230, 230, 230));
}

.container {
    width: 90%;
    height: inherit;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Header*/

header {
    width: 100%;
    height: 80px;
    background-color: white;
}

header .container {
    display: flex;
    align-items: center;
}

.logo-container, .nav-container, .account-container {
    display: flex;
    align-items: center;
    height: 40px;
}

.logo-container, .account-container {
    flex: 1;
}

nav {
    flex: 2;
}

.logo-container img {
    height: inherit;
    margin-left: 10px;
}

.logo-container h4 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 10px;
}

.nav-container {
    list-style: none;
    justify-content: space-around;
}

.nav-link {
    margin: 10px;
    align-self: center;
    padding-bottom: 5px;
}

.nav-link:hover {
    border-bottom: black 1px solid;
}

.nav-link a {
    font-weight: 300;
    font-size: 1.6rem;
}

#current {
    font-weight: 500;
}

.account-container {
    justify-content: flex-end;
}

#account-btn {
    height: inherit;
    width: 120px;
    margin-right: 10px;
    padding: 10px;
    font-size: 1.4rem;
    border: black 1px solid;
    cursor: pointer;
    font-weight: 300;
    background-color: white;
}

#account-btn:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

/*Introduction Section*/

#introduction {
    background-image: url(../IMAGE/mountain-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 88vh;
    min-height: 440px;
}

.intro-container{
    width: 60%;
    padding: 100px 40px;
}

#introduction h4 {
    font-size: 4rem;
    text-shadow: rgba(20, 20, 20, 0.8) 1px 1px;
    text-align: left;
    color: white;
    text-transform: capitalize;
}

#introduction p {
    margin-top: 20px;
    font-size: 1.8rem;
    text-shadow: rgba(20, 20, 20, 0.8) 1px 1px;
    color: white;
    text-align: left;
}

#intro-btn {
    border: 1px white solid;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

#intro-btn:hover {
    background-color: black;
    color: white;
    border: 1px black solid;
    transition: 0.2s;
}

/*Description Section*/

.section-title {
    width: 100%;
    margin: 80px 0 40px 0;
    text-align: center;  
}

.section-title h4 {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 4rem;
    text-transform: uppercase;
}

.section-title h4 span {
    font-weight: 500;
    font-size: 4rem;
}

.desc-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.desc-item {
    width: 40%;
    margin: 20px;
    min-width: 280px;
    padding: 20px;
    height: 320px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.2);
}

.desc-item:hover {
    box-shadow: 10px 10px 40px rgba(20, 20, 20, 0.4);
    transition: 0.4s;
}

.desc-item h4 {
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid black; 
}

.desc-item p {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 20px;
}

.desc-item img {
    display: block;
    width: 25%;
    min-width: 100px;
    margin: 20px auto;
}

/*Showcase Section*/

.show-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.show-item {
    width: 40%;
    margin: 20px;
    min-width: 280px;
    padding: 20px;
    text-align: center;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(20, 20, 20, 0.2);
}

.show-item img {
    display: block;
    max-height: 25%;
    max-width: 40%;
    margin: 20px auto;
}

.show-item h4 {
    font-size: 2.8rem;
    text-align: center;
    margin: 10px auto;
    font-weight: 500;
}

.show-item p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

.show-item button {
    display: block;
    margin: 20px auto;
    width: 50%;
    min-width: 180px;
    max-width: 260px;
    height: 50px;
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: black 1px solid;
}

.show-item button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.show-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.show-btn button {
    width: 240px;
    height: 60px;
    font-size: 2rem;
    background-color: transparent;
    border: black 1px solid;
    cursor: pointer;
    font-size: 300;
}

.show-btn button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

/*Sign-up Section*/

.sign-up {
    background-image: url(../IMAGE/river-pic.jpg);
    background-size: cover;
    height: 40vw;
}

.sign-up-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.sign-up h4 {
    font-size: 2rem;;
    text-align: center;
    color: black;
}

.sign-up button {
    margin-top: 60px;
    width: 200px;
    height: 50px;
    border: black 1px solid;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.sign-up button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    opacity: 0.8;
}

/*Footer*/

.footer-content {
    width: 90%;
    margin: 20px auto;
    display: flex;
}

.footer-nav {
    flex: 1;
    display: flex;
}

.footer-links {
    flex: 1;
    display: flex;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer ul li {
    align-self: center;
    margin: 10px;
    padding-bottom: 5px;
    font-weight: 100;
}

@media screen and (max-width: 768px) {

    /*Header Media Query*/

    header, header .container{
        display: block;
        height: auto;
        padding: 10px;
    }

    .logo-container, nav, .account-container{
        justify-content: center;
        width: 100%;
        margin: 15px auto;
    } 

    .logo-container img {
        margin: 0;
    }

    #account-btn {
        margin: 0 auto;
    }

    /*Introduction Section Media Query*/

    .intro-container {
        width: 100%;
        padding: 60px 20px;
        text-align: center;
    }

    #introduction h4, #introduction p {
        text-align: center;
    }

    /*Description Section Media Query*/

    .desc-item {
        width: 100%;
    }

    .section-title {
        margin: 40px 0 20px 0;
    }

    .section-title h4, .section-title h4 span {
        font-size: 3.4rem;
    } 

    /*Showcase Section Media Query*/

    .show-item {
        width: 100%;
        margin: 20px auto;
    }
}