* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 12vh;
    min-height: 60px;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-container, .account-container {
    display: flex;
    height: 40px;
}

.logo-container {
    flex: 1;
}

nav {
    flex: 2;
}

.account-container {
    flex: 1;
}

.logo-container img {
    height: 40px;
    margin-left: 10px;
}

.logo-container h4 {
    font-size: 18px;
    font-weight: 100;
    align-self: center;
    letter-spacing: 1px;
    margin-left: 10px;
}

.nav-container {
    list-style: none;
    justify-content: space-around;
}

.nav-link {
    align-self: center;
    margin: 10px;
    padding-bottom: 5px;
    font-weight: 100;
}

.nav-link:hover {
    border-bottom: black 1px solid;
}

a {
    text-decoration: none;
    color: black;
}

.account-container {
    justify-content: flex-end;
}

.account-btn {
    align-self: center;
    margin-right: 10px;
    padding: 10px;
    border: black 1px solid;
    cursor: pointer;
    font: 100;
}

.account-btn:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.introduction img {
    height: 650px;
    width: 100%;
    position: absolute;
    z-index: 1;
    filter: brightness(70%);
}

.intro-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.intro-text {
    font-size: 60px;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 50%;
    color:white;
}

.intro-btn {
    border: 1px white solid;
    color: white;
    font-size: 25px;
    padding: 5px;
    position: absolute;
    top: 300px;
    left: 20px;
    text-align: center;
    line-height: 50px;
    width: 180px;
    height: 60px;
    cursor: pointer;
}

.intro-btn:hover {
    background-color: black;
    opacity: 0.9;
    color: white;
    border: 1px black solid;
    transition: 0.2s;
}